@{
    ViewData["Title"] = "Home Page";
}

<div style="background-image: url(images/banners/planetstore_background.png); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover">
    <div style="text-align: center;">
        <img class="img-fluid" alt="Responsive image" src="~/images/banners/planetstore_text.png" />
    </div>
</div>
